/* colors and fonts */

body { 
    background: rgb(230,230,230);
    color:  rgb(50,50,50);
    font-family: Helvetica;
    font-size: 16px;
 }

h1 {
    Color:  #575F7D;
    font-family:  Courrier;
    font-size: 32px;
}

h2 {
    Color : #7ECE90;
    font-family: Courrier;
    font-size: 24px;
}

a {
    color: forestgreen;
}


/* Custom design with class */

.container {

    width: 700px ;
    margin: 40px auto ;
}

.card-white {

    background-color: white;
    padding: 40px;
    box-shadow: 0px 10 px 30 px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.btn-blue {

    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.btn-blue:hover {

    background-color: black;
    color: white;
} 

.img-circle {

    border-radius: 50%;
}

.in-line {
    list-style: none;
    padding-left:0px;
}

.in-line li {
    display: inline;
    padding:10px;
}

.in-line i {
   font-size: 50px;
   color: rgb(230, 230, 230);
}

.in-line i:hover {
   color: black;
}


#introduction p {
    margin-bottom: 40px;
}














